@page {
  margin: 0.5in;
}

.resume {
  width: 8.5in;
  padding: 0.5in;
}

.summary {
  margin: 1em 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-size: 10pt;
}

address {
  display: inline-block;
  font-style: normal;
}

h1 {
  margin-top: 0;
  font-size: 24pt;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 11pt;
}

a {
  color: black;
}

footer {
  margin-top: 30pt;
  text-align: center;
  font-size: 8pt;
  color: #555;
}

footer a {
  color: #555;
}

@media screen {
  .resume {
    border: 2px solid black;
  }
}

@media print {
  footer {
    display: none;
  }
}
